* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;


}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.error {
    color: red;
}


#task-list {
    min-width: 30%;
    min-height: 100%;
    list-style: none;
    border: 0.2rem black solid;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding: 0;

}

.task-box {
    width: 90%;
    min-height: 13%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.5s;
    padding: 0 0.5rem;
    border-bottom: solid black 0.15rem;
    margin: 0.5rem 0;


}

.task-box button {
    border-radius: 50%;
    min-width: 7%;
    min-height: 30%;
    /* margin: 1%; */
    border: none;
    cursor: pointer;
    color: white;
}

.check-button {
    background-color: green;

}

.check-button:hover {
    background-color: rgb(1, 73, 1);

}

.remove-button {
    background-color: red;
}

.remove-button:hover {
    background-color: rgb(102, 4, 4);


}

.checked {
    background-color: rgba(0, 128, 0, 0.493);

}